# Compilation
*.o
*.so
*.rcpp_*.cpp
RcppExports.*

# R
.Rhistory
.Rproj.user/
.Renviron
.Rprofile

# System
.DS_Store
Thumbs.db

# Build
src/*.o
src/*.so
src/Makevars.win
src/config.h

# Check
*.tar.gz

_Rtestlib/
..Rcheck/

# Stata release build artifacts
stata/release/

#vignettes
inst/doc/
vignettes/*.html
vignettes/*.pdf
